body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f5f7 !important;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  object-position: top;
}

.active {
  border-bottom: 2px solid black;
}

.inactive {
  border: 1px solid #e8e9eb;
  border-radius: 5px;
}